<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
{{ $target := "" }}
{{ if and .IsSection (not .IsHome) (eq (trim .Content "\t \n") "") }}
  {{/* println "blank section" .Permalink */}}
  
  {{ if .Params.refresh }}
    {{ $target = .Params.refresh }}
  {{ else }}
    {{ $firstPage := first 1 .Pages }}
    {{ with index $firstPage 0 }}
      {{ $target = .RelPermalink }}
    {{ end }}
  {{ end }}

{{ end }}

{{ if $target }}
  <head>
    <meta http-equiv="refresh" content="0; url={{- $target -}}">
  </head>
  <body></body>
{{ else }}
  <head>
    {{ partial "head-std.html" . }}
    {{ partial "head-ext.html" . }}
  </head>

  <body>
    {{ block "header" . }}
    {{ end }}

    {{ block "main" . }}
    {{ end }}
    
    {{ block "footer" . }}
    {{ end }}

    <!-- Load the menu module -->
    <script src="/js/navigation-module.js"></script>
    <!--
    <script src="/js/menu-module.js"></script>
    <script src="/js/index-module.js"></script>
    -->
  </body>
{{ end }}
</html>
