{{ define "header" }}
  {{ partialCached "header.html" . }}
{{ end }}
{{ define "main" }}
  <div>
    {{ $toplevel := .CurrentSection }}
    {{ if gt $toplevel.Ancestors.Len 2 }} {{ $toplevel = index $toplevel.Ancestors 2 }} {{end}}
    {{ partialCached "nav-side.html" $toplevel $toplevel }}
    {{if eq .FirstSection .}}{{/*direct below root*/}}
      {{ partialCached "content.html" . . }}
    {{else}}
      {{ range first 1 .Pages }}{{ partialCached "content.html" . . }}{{ end }}
    {{end}}
  </div>
{{ end }}
