<div style="background: #eee; border: solid; border-radius: 8px; padding: 16px; max-width: 50%; margin: 8px; margin-left: 1cm; min-height: 2cm;">
    <strong>shortcode demo</strong>

    {{ with .Get 0 }}param0={{.}}{{ end}}
    {{ with .Get "src" }}src={{.}}{{ end}}

    {{ if .Params }}
    params
    {{ range $key, $value := .Params }}
    * {{ $key }}={{$value}}
    {{ end }}
    {{ end }}

    {{ if strings.ContainsNonSpace .Inner }}
      {{ .Inner }}
    {{ else }}
      Inner is empty
    {{ end }}
</div>
